@import url('https://fonts.googleapis.com/css?family=Mukta+Vaani:300,400,500,700'); /* Tschuldigung. No italic style available. */


.customfont {
    font-family: 'Mukta Vaani', sans-serif;
}

.Light {
  font-weight: 300;
}

.Regular {
  font-weight: 400;
}

.Medium {
  font-weight: 500;
}

.Bold {
  font-weight: 700;
}