@import url("./fonts.css");
@import url("./menu.css");
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

html {
  font-size: 13px;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.45;
}

body {
  font-size: 1rem;
}

small {
  font-size: 0.8rem;
}

.supersize {
  font-size: 3rem;
}

h1 {
  font-size: 1.55rem;
}
h3 {
  font-size: 1.35rem;
}

h1,
h3 {
  margin-top: 0.8em;
  margin-bottom: 0.2em;
}
p {
  margin-top: 0em;
  margin-bottom: 0.2em;
}

@media only screen and (min-width: 600px) {
  html {
    font-size: 16px;
  }
  h1 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.4rem;
  }
}

a {
  color: rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

a:hover {
  color: rgba(0, 0, 0, 0.4);
}

.root {
}
.column {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}
.column--inner {
  margin: 0 auto;
  max-width: 58rem;
}

.grid {
  margin-bottom: 1rem;
}
@media only screen and (min-width: 600px) {
  .grid--inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .grid--title {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 35%;
    max-width: 35%;
  }

  @media only screen and (min-width: 600px) {
    .grid--title h3 {
      margin: 0;
    }
  }

  .grid--content {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 60%;
    max-width: 60%;
  }
}
.font {
  width: 100vw;
  height: 100vh;
  position: relative;
  transition: background-color 0.3s ease;
}

.font--inner,
.font-caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.font-indicator {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;
}
.font-indicator-img {
  width: 100%;
  height: auto;
}

.font-caption {
  padding-top: 1.7rem;
}

.font-caption--inner {
  display: flex;
}
.font-caption--item {
  padding-right: 2rem;
}

.font-overview--portrait,
.font-overview--landscape {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero {
  width: 100%;
  height: 42.85vw; /* 21:9 */
  overflow: hidden;
  padding-bottom: 2rem;
}

.hero--inner {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.hero--img {
  height: 100%;
  width: auto;
  display: block;
}



.font-overview--portrait-img {
  height: auto;
  width: 100vw;
}

.font-overview--landscape-img {
  height: 100vh;
  width: auto;
}

/* show hide pictures landscape/portrait */

@media screen and (orientation: portrait) {
  .font-overview--landscape {
    display: none;
  }
}
@media screen and (orientation: landscape) {
  .font-overview--portrait {
    display: none;
  }
}

.endOfArticle {
  padding-bottom: 3rem;
}
