@import url('https://fonts.googleapis.com/css?family=Bitter');

.bitter{
font-family: 'Bitter', serif;
}


.Regular{
font-weight: 4400;
}

.RegularItalic{
font-weight: 400 italic;
font-style: italic;
}
.Bold{
font-weight: 700;
}
