@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i');

.customfont {
  font-family: 'Roboto', sans-serif;
}

.Light {
  font-weight: 300;
}

.LightItalic {
  font-weight: 300;
  font-style: italic;

}

.Regular {
  font-weight: 400;
}

.RegularItalic {
  font-weight: 400;
  font-style: italic;

}

.Medium {
  font-weight: 500;
}

.MediumItalic {
  font-weight: 500;
  font-style: italic;

}

.Bold {
  font-weight: 700;
}

.BoldItalic {
  font-weight: 700;
  font-style: italic;

}
