@import url('https://fonts.googleapis.com/css?family=Neuton:200,300,400,400i,700,800');

.customfont {
  font-family: 'Neuton', serif;
}

.ExtraLight {
  font-weight: 200;
}

.Light {
  font-weight: 300;
  font-style: italic;

}

.Regular {
  font-weight: 400;
}

.RegularItalic {
  font-weight: 400;
  font-style: italic;

}

.Bold {
  font-weight: 700;
}

.ExtraBold {
  font-weight: 800;
  font-style: italic;

}